.hero {
	display: flex;
	flex-direction: column;
	/* background-color: azure; */
	width: 100%;
	/* max-height: 40vh; */
	align-items: center;
	margin-bottom: 2.5vh;
}

.heroLogo {
	/* margin: 25px; */
	max-height: 20vh;
}

.heroText {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.heroTitle {
	font-size: 50px;
	margin: 0 5vw 0 5vw;
}

.subtitle {
	margin: 0 5vw 5vw 5vw;
}

.carouselContainer {
	display: flex;
	flex-direction: row;
	/* background-color: #6b69d6; */
	width: 100%;
	min-height: 50vh;
	align-items: center;
	justify-content: center;
	/* padding-top: 25px;
	padding-bottom: 25px; */
}

.socialContainer {
	display: flex;
	flex-direction: row;
	padding: 10px;
	width: 100%;
	justify-content: center;
}

.feedbackContainer {
	display: flex;
	flex-direction: row;
	background-color: #f0efeb;
	width: 100%;
	min-height: 50vh;
	align-items: center;
	justify-content: center;
	/* padding-top: 25px;
	padding-bottom: 25px; */
}

/* desktop breakpoint */
@media screen and (min-width: 40em) {
	.hero {
		justify-content: center;
		flex-direction: row;
	}

	.heroLogo {
		margin-right: 20px;
		max-height: unset;
		height: 20vw;
	}

	.heroTitle {
		margin: 0 0 0 10px;
	}

	.subtitle {
		margin: 10px 0 10px 10px;
	}

	.socialContainer {
		justify-content: flex-start;
	}
}
