.container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 5vw;
	margin: 0 auto;
}

/* desktop breakpoint */
@media screen and (min-width: 40em) {
	.container {
		max-width: 67vw;
	}
}
