.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.logoContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.logoContainer > img {
	cursor: pointer;
}
.link {
	color: gray;
	text-decoration: none;
}
.link:nth-child(n + 2) {
	padding-left: 10px;
}
.links {
	display: flex;
	flex-direction: row;
	justify-content: center;

	margin-bottom: 10px;
	padding-bottom: 10px;
	/* border-bottom: 1px solid gray; */
}
.foot {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.foot > img {
	max-width: 95vw;
}
.copyright {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.copyright > p {
	color: gray;
	margin: 5px;
}

/* desktop breakpoint */
@media screen and (min-width: 40em) {
	.foot {
		width: 80vw;
		flex-direction: row;
		justify-content: space-between;
		/* padding: 5vw; */
	}
	.copyright {
		align-items: unset;
		align-self: end;
	}
}
