.header {
	display: flex;
	flex: 1;
	flex-direction: row;
	/* background-color: beige; */
	height: 10vh;
	justify-content: center;
}

@media screen and (min-width: 40em) {
	.header {
		justify-content: flex-end;
		padding-right: 50px;
	}
}

.headerButton {
	display: flex;
	padding: 10px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: unset;
	text-transform: uppercase;
}

.headerButton:hover {
	cursor: pointer;
}
*:visited {
	color: unset;
}

.headerButtonActive {
	color: blue;
}
