.header {
	display: flex;
	flex: 1;
	flex-direction: row;
	/* background-color: beige; */
	height: 10vh;
	justify-content: center;
}

.headerButton {
	display: flex;
	padding: 10px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: unset;
	text-transform: uppercase;
}

.headerButton:hover {
	cursor: pointer;
}
*:visited {
	color: unset;
}

.headerButtonActive {
	color: blue;
}

.strip {
	width: 100vw;
	display: flex;
	flex-direction: row;
	overflow: scroll;
	padding-bottom: 10px;
}

.stripCard {
	display: flex;
	flex-direction: row;
	/* width: 40vw; */
	/* background-color: beige; */
	padding: 10px;
	align-items: center;
	cursor: pointer;
}

.stripCard > img {
	width: 50px;
	height: 50px;
}

.stripDetails {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}

.stripDetails > p {
	margin: unset;
}

.strip::-webkit-scrollbar {
	display: none;
}

@media screen and (min-width: 40em) {
	.header {
		justify-content: flex-end;
		padding-right: 50px;
	}

	.strip {
		justify-content: flex-end;
	}
	.stripCard {
		padding-left: 2vw;
	}
}
